@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-dark-pink: #ff0066;
    --color-dark: #111;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Protest Revolution', sans-serif;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --icon-size: 2rem;
    --logo-size: 4rem;
    --photo-size: 100vh;
    --sidebar-width: 96px;
}

html {
    font-size: 100%;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-black);
    color: var(--color-white);
}

#home {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.about-me {
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.photo {
    flex: 1;
    position: relative;
    height: 100%;
    background-color: var(--color-black);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-kenedy {
    position: absolute;
    height: 90%;
    aspect-ratio: 1/1;

    border-radius: 50%;
}

.introduction {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.presentation{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-large);
}

.presentation h1 {
    font-size: 10rem;
    color: var(--color-dark-pink);
}

.presentation h2 {
    font-size: 5rem;
}

.presentation h3 {
    font-size: 3rem;
}

.skills {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-large);
    padding: var(--spacing-large);
}

.icon {
    height: var(--icon-size);
    width: var(--icon-size);
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.5);
}


.projects {
    height: 50vh;
    background-color: var(--color-dark-pink);
    display: flex;
    flex-direction: row;
}